<% provide(:title, "All Contacts") %>

<div class="page-header">
	<%= link_to new_contact_path, :class => "btn btn-primary" do %>
	<i class="glyphicon glyphicon-plus"></i> Add Contact
	<% end %>
</div>

<%= render 'shared/flash_messages' %>

<div class="grid">

	<% if @contacts.each do |contact| %>

	<div class="cell">
		<%= link_to contact_path(contact), :class => 'contact' do %>

		<div class="media-element">
			<%= contact_avatar(contact, class: 'media-figure', style: 'width:64px;height:64px;', alt:"Photo for #{contact.name}") %>
			<div class="media-body">
				<strong><%= contact.name %></strong>
				<p><%= contact.email %></p>
				<p><%= contact.phone %></p>
			</div>
		</div>

		<% end %>
	</div>

	<% end.empty? %>

</div>

<p class="lead text-center text-muted">No contacts</p>

<% else %>

</div>

<hr />
<p class="lead text-center text-muted"><%= pluralize(@contacts.count, "contact") %></p>
<% end %>
