<div class="page-header">
  <h1>Contact Details</h1>
  <%= link_to contacts_path, :class => "btn btn-default" do %>
    <span class="glyphicon glyphicon-arrow-left"></span> View All
  <% end %>
</div>

<!-- Render flash notice if present -->
<% if flash[:notice] -%>
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= flash[:notice] %>
</div>
<% end %>

<%= contact_avatar(@contact, class: 'media-object img-circle', style: 'width:96px;height:96px;') %>

<h4><%= @contact.name %></h4>

<p>
  <strong>E-mail:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @contact.phone %>
</p>

<%= link_to edit_contact_path(@contact), :class => "btn btn-warning" do %>
  <span class="glyphicon glyphicon-edit"></span> Edit
<% end %>
<%= link_to contact_path(@contact), method: :delete,
      data: { confirm: 'Delete ' + @contact.fname + ' ' + @contact.lname + '?' }, :class => "btn btn-danger" do %>
      <span class="glyphicon glyphicon-trash"></span> Remove
    <% end %>
